[submodule "Dashboard"]
	path = dashboard
	url = git@github.com:MrFriendly-B-V/Dashboard.git
[submodule "CRMQuery"]
	path = crmquery
	url = git@github.com:MrFriendly-B-V/CRMQuery.git
[submodule "espogmailsync"]
	path = espogmailsync
	url = https://github.com/MrFriendly-B-V/EspoGmailSync.git
